# The Milwaukee Journal Sentinel and Life Expectancy

**Story:** [Race gap found in pothole patching](https://web.archive.org/web/20081223094123/http://www.jsonline.com/news/milwaukee/32580034.html)

**Author:** Keegan Kyle, Grant Smith and Ben Poston, Milwaukee Journal Sentinel

**Topics:** Census Data, Geocoding, QGIS Spatial Joins, Linear Regression

**Datasets**

* Pothole fill data from the Milwaukee [Department of Public Works](https://city.milwaukee.gov/dpw)
    - **2007-2010 POTHOLES.xls**: Pothole data, July 2007-July 2010
    - **2010-2013 POTHOLES.xls**: Pothole data, July 2010-July 2013
    - **2013-2017 POTHOLES.xls**: Pothole data, July 2013-July 2017
* **tl_2013_55_tract.zip:** 2013 census tract boundaries from the [US Census Bureau](https://www.census.gov/cgi-bin/geo/shapefiles/index.php)
* **addresses_geocoded.csv:** a large selection of addresses in Milwaukee, geocoded by [Geocod.io](https://geocod.io)
* **R12216099_SL140.csv:** ACS 2013 5-year, tract level, from [Social Explorer](https://www.socialexplorer.com)
    - Table A04001, Hispanic or Latino by Race
    - `R12216099.txt` is the data dictionary
* **R12216226_SL140.csv** ACS 2013 5-year, tract level, from [Social Explorer](https://www.socialexplorer.com)
    - Table A14006, 2013 Median Household income
    - Data dictionary [is here](https://www.socialexplorer.com/data/ACS2013_5yr/metadata/?ds=SE&table=A14006)

# What's the story?

We're trying to figure out if the **time it took Milwaukee to fill pot holes** is related to the racial makeup of a census tract.

# Do your imports

You'll also want to set pandas to display **up to 200 columns at a time**.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import requests as re
pd.set_option('display.max_columns', 200)

# Create a dataframe of potholes from only 2013

The delivered multiple files to us, so we'll need to filter them down to just 2013.

**Editorial decision:** When we say "a pothole from 2013," what exactly do we mean?

In [4]:
df1 = pd.read_excel('2010-2013 POTHOLES.xls')
df2 = pd.read_excel('2013-2017 POTHOLES.xls')

In [5]:
df1.head()

      A          Street           EnterDt           PrintDt          ResolvDt
0  3839       N 10TH ST  2013-07-15 23:35  2013-07-16 05:46  2013-07-17 05:50
1  4900    W MELVINA ST  2013-07-15 20:05  2013-07-16 05:46  2013-07-24 16:58
2  2400  W WISCONSIN AV  2013-07-15 20:00  2013-07-16 05:56  2013-07-25 14:42
3  1800    W HAMPTON AV  2013-07-15 19:55  2013-07-16 05:46  2013-07-18 06:06
4  4718       N 19TH ST  2013-07-15 19:50  2013-07-16 05:46  2013-08-02 06:08

In [6]:
df1 = df1[df1.EnterDt.str.contains('2013', regex=True)|df1.ResolvDt.str.contains('2013', regex=True)]

In [7]:
df2 = df2[df2.EnterDt.str.contains('2013', regex=True)|df2.ResolvDt.str.contains('2013', regex=True)]

#Or str.startswith('2013')

In [8]:
df_2013 = df1.append(df2)
df_2013

,A,Street,EnterDt,PrintDt,ResolvDt
0,3839,N 10TH ST,2013-07-15 23:35,2013-07-16 05:46,2013-07-17 05:50
1,4900,W MELVINA ST,2013-07-15 20:05,2013-07-16 05:46,2013-07-24 16:58
2,2400,W WISCONSIN AV,2013-07-15 20:00,2013-07-16 05:56,2013-07-25 14:42
3,1800,W HAMPTON AV,2013-07-15 19:55,2013-07-16 05:46,2013-07-18 06:06
4,4718,N 19TH ST,2013-07-15 19:50,2013-07-16 05:46,2013-08-02 06:08
5,4500,W CLARKE ST,2013-07-15 18:05,2013-07-16 05:56,2013-08-01 14:41
6,6471,N 66TH ST,2013-07-15 17:44,2013-07-16 05:46,2013-08-14 05:58
7,6200,W BALDWIN ST,2013-07-15 17:35,2013-07-16 05:46,2013-08-02 06:09
8,3013,N 74TH ST,2013-07-15 17:23,2013-07-16 05:46,2013-07-16 05:49
9,2606,N 7TH ST,2013-07-15 17:13,2013-07-16 05:55,2013-08-07 06:06
10,1400,N CASS ST,2013-07-15 16:55,2013-07-16 05:56,2013-07-22 14:57
11,3700,N FRATNEY ST,2013-07-15 16:35,2013-07-16 05:46,2013-07-17 05:48
12,1562,W ODELL ST,2013-07-15 16:30,2013-07-16 15:27,2013-07-18 14:39
13,1300,W VLIET ST,2013-07-15 16:10,2013-07-16 05:56,2013-07-17 14:32
14,4301,N 48TH ST,2013-07-15 16:14,2013-07-16 05:46,2013-07-22 20:05
15,6600,N 51ST ST,2013-07-15 15:50,2013-07-16 05:46,2013-07-22 06:05
16,3240,S HERMAN ST,2013-07-15 16:15,2013-07-16 15:27,2013-07-17 14:37
17,3300,W VLIET ST,2013-07-15 15:50,2013-07-16 05:56,2013-07-25 14:39
18,4502,W HOWARD AV,2013-07-15 15:26,2013-07-15 15:32,2013-07-16 14:47
19,5800,W HAMPTON AV,2013-07-15 14:15,2013-07-16 05:46,2013-08-02 06:11
20,1708,N FARWELL AV,2013-07-15 13:05,2013-07-15 14:22,2013-07-17 14:44
21,3136,N 56TH ST,2013-07-15 12:55,2013-07-15 14:22,2013-07-22 14:29
22,1514,N 48TH ST,2013-07-15 13:09,2013-07-15 14:22,2013-08-05 14:40
23,2300,S 12TH ST,2013-07-15 12:30,2013-07-15 15:37,2013-07-19 14:40
24,4200,N SERCOMBE RD,2013-07-15 12:20,2013-07-15 12:56,2013-07-17 05:50
25,3500,W HOPE AV,2013-07-15 12:15,2013-07-15 12:56,2013-07-18 06:07
26,5100,W MILL RD,2013-07-15 12:15,2013-07-15 12:56,2013-08-14 06:00
27,6665,N 60TH ST,2013-07-15 14:29,2013-07-16 05:46,2013-08-02 06:20
28,4128,S 52ND ST,2013-07-15 12:00,2013-07-15 15:32,2013-07-16 14:48
29,3445,S 86TH ST,2013-07-15 11:57,2013-07-15 15:32,2013-07-18 14:34
...,...,...,...,...,...
48399,2675,S 71ST ST,2013-07-16 11:55,2013-07-16 15:44,2013-07-17 14:42
48400,5200,N 57TH ST,2013-07-16 11:53,2013-07-17 05:47,2013-07-22 20:03
48401,6400,N 87TH ST,2013-07-16 11:50,2013-07-17 05:47,2013-08-12 07:19
48402,2394,E NORTH AV,2013-07-16 11:30,2013-07-16 12:18,2013-07-19 07:26
48403,3201,S HERMAN ST,2013-07-16 11:25,2013-07-16 15:27,2013-07-17 14:37
48404,3972,S 5TH PL,2013-07-16 11:18,NaN,2013-07-16 14:43
48405,5200,W CAPITOL DR,2013-07-16 10:40,2013-07-17 05:47,2013-08-02 06:08
48406,316,W ALLERTON AV,2013-07-16 10:35,2013-07-16 15:27,2013-07-17 14:36
48407,4821,N 22ND ST,2013-07-16 10:25,2013-07-17 05:47,2013-07-22 05:50
48408,1614,S UNION ST,2013-07-16 10:15,2013-07-18 15:53,2013-07-18 15:55
48409,2633,S 15TH PL,2013-07-16 10:10,2013-07-16 15:27,2013-07-18 15:08
48410,1800,W KEEFE AV,2013-07-16 10:10,2013-07-16 12:18,2013-08-15 15:54
48411,2255,S 5TH ST,2013-07-16 10:10,2013-07-16 15:27,2013-07-18 14:38
48412,2930,W DAKOTA ST,2013-07-16 09:55,2013-07-16 15:44,2013-07-17 14:41
48413,2255,W GOLDCREST AV,2013-07-16 09:55,2013-07-16 15:27,2013-07-17 14:36
48414,2900,N 86TH ST,2013-07-16 09:50,2013-07-17 05:47,2013-07-18 06:06
48415,3510,W MELVINA ST,2013-07-16 09:32,2013-07-16 09:33,2013-07-19 06:02
48416,6000,W FOND DU LAC AV,2013-07-16 09:30,2013-07-16 09:33,2013-07-16 09:49
48417,5502,N 34TH ST,2013-07-16 09:30,2013-07-16 09:33,2013-07-16 09:48
48418,4400,N 88TH ST,2013-07-16 09:15,2013-07-16 09:33,2013-07-16 09:48
48419,2700,W HOPE AV,2013-07-16 09:14,2013-07-16 09:33,2013-07-16 09:49
48420,3500,N 2ND LA,2013-07-16 09:00,2013-07-17 05:47,2013-07-19 06:02
48421,2481,W WALNUT ST,2013-07-16 09:06,2013-07-16 12:18,2013-08-12 12:44
48422,5100,W KEEFE AV,2013-07-16 08:30,2013-07-17 05:47,2013-07-22 20:03
48423,600,W MC KINLEY AV,2013-07-16 08:25,2013-07-16 12:18,2013-07-17 06:16
48424,5844,N 99TH ST,2013-07-16 08:25,2013-07-17 05:47,2013-07-19 05:57
48425,9600,W EVERTS ST,2013-07-16 07:16,2013-07-16 07:17,2013-07-18 06:02
48426,4100,N 19TH ST,2013-07-16 06:54,2013-07-17 05:47,2013-07-31 05:37
48427,7500,N GRANVILLE RD,2013-07-16 06:43,2013-07-16 06:43,2013-08-01 07:32
48428,11425,W FLORIST AV,2013-07-16 05:40,NaN,2013-07-16 05:41

## What is the maximum and minimum `EnterDt` and `ResolvDt`?

Use this to confirm that your date range is what you expected. If it isn't, take a look at what might have happened with your dataset.

* **Tip:** Missing data might be a headache

In [9]:
df_final = df_2013.dropna()

In [10]:
df_final.EnterDt.max()
#or df_final.EnterDt.agg(['min','max'])

'2013-12-31 17:06'

In [11]:
df_final.EnterDt.min()

'2012-12-17 10:10'

In [12]:
df_final.ResolvDt.max()

'2014-01-23 17:05'

In [13]:
df_final.ResolvDt.min()

'2013-01-02 06:13'

## Calculate how long it took to fill potholes in 2013

Save it into a new column.

* **Tip:** It's possible to subtract two dates

In [14]:
pd.to_datetime(df_final['EnterDt'])

0       2013-07-15 23:35:00
1       2013-07-15 20:05:00
2       2013-07-15 20:00:00
3       2013-07-15 19:55:00
4       2013-07-15 19:50:00
5       2013-07-15 18:05:00
6       2013-07-15 17:44:00
7       2013-07-15 17:35:00
8       2013-07-15 17:23:00
9       2013-07-15 17:13:00
10      2013-07-15 16:55:00
11      2013-07-15 16:35:00
12      2013-07-15 16:30:00
13      2013-07-15 16:10:00
14      2013-07-15 16:14:00
15      2013-07-15 15:50:00
16      2013-07-15 16:15:00
17      2013-07-15 15:50:00
18      2013-07-15 15:26:00
19      2013-07-15 14:15:00
20      2013-07-15 13:05:00
21      2013-07-15 12:55:00
22      2013-07-15 13:09:00
23      2013-07-15 12:30:00
24      2013-07-15 12:20:00
25      2013-07-15 12:15:00
26      2013-07-15 12:15:00
27      2013-07-15 14:29:00
28      2013-07-15 12:00:00
29      2013-07-15 11:57:00
                ...
48397   2013-07-16 12:20:00
48398   2013-07-16 12:10:00
48399   2013-07-16 11:55:00
48400   2013-07-16 11:53:00
48401   2013-07-16 11:50:00
48402   2013-07-16 11:30:00
48403   2013-07-16 11:25:00
48405   2013-07-16 10:40:00
48406   2013-07-16 10:35:00
48407   2013-07-16 10:25:00
48408   2013-07-16 10:15:00
48409   2013-07-16 10:10:00
48410   2013-07-16 10:10:00
48411   2013-07-16 10:10:00
48412   2013-07-16 09:55:00
48413   2013-07-16 09:55:00
48414   2013-07-16 09:50:00
48415   2013-07-16 09:32:00
48416   2013-07-16 09:30:00
48417   2013-07-16 09:30:00
48418   2013-07-16 09:15:00
48419   2013-07-16 09:14:00
48420   2013-07-16 09:00:00
48421   2013-07-16 09:06:00
48422   2013-07-16 08:30:00
48423   2013-07-16 08:25:00
48424   2013-07-16 08:25:00
48425   2013-07-16 07:16:00
48426   2013-07-16 06:54:00
48427   2013-07-16 06:43:00
Name: EnterDt, Length: 11920, dtype: datetime64[ns]

In [15]:
df_final['ResolvDt']=pd.to_datetime(df_final['ResolvDt'])

/Users/giovanafleck/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
df_final['EnterDt']=pd.to_datetime(df_final['EnterDt'])

/Users/giovanafleck/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
df_final['difference']=df_final['ResolvDt']-df_final['EnterDt']

/Users/giovanafleck/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
df_final['difference'].mean()

Timedelta('9 days 04:20:37.791946')

In [19]:
df_final.head()

,A,Street,EnterDt,PrintDt,ResolvDt,difference
0,3839,N 10TH ST,2013-07-15 23:35:00,2013-07-16 05:46,2013-07-17 05:50:00,1 days 06:15:00
1,4900,W MELVINA ST,2013-07-15 20:05:00,2013-07-16 05:46,2013-07-24 16:58:00,8 days 20:53:00
2,2400,W WISCONSIN AV,2013-07-15 20:00:00,2013-07-16 05:56,2013-07-25 14:42:00,9 days 18:42:00
3,1800,W HAMPTON AV,2013-07-15 19:55:00,2013-07-16 05:46,2013-07-18 06:06:00,2 days 10:11:00
4,4718,N 19TH ST,2013-07-15 19:50:00,2013-07-16 05:46,2013-08-02 06:08:00,17 days 10:18:00

### Hrm, well, I think we need that difference to be an integer

If your new column isn't an integer, create _another_ column that is.

* **Tip:** Just like you might use `.str.strip()` on a string column, if your column is a datetime you can use `.dt.components` to get the days, hours, minutes, seconds, etc of the column.

In [27]:
df_final['difference'].dt.components

       days  hours  minutes  seconds  milliseconds  microseconds  nanoseconds
0         1      6       15        0             0             0            0
1         8     20       53        0             0             0            0
2         9     18       42        0             0             0            0
3         2     10       11        0             0             0            0
4        17     10       18        0             0             0            0
5        16     20       36        0             0             0            0
6        29     12       14        0             0             0            0
7        17     12       34        0             0             0            0
8         0     12       26        0             0             0            0
9        22     12       53        0             0             0            0
10        6     22        2        0             0             0            0
11        1     13       13        0             0             0            0
12        2     22        9        0             0             0            0
13        1     22       22        0             0             0            0
14        7      3       51        0             0             0            0
15        6     14       15        0             0             0            0
16        1     22       22        0             0             0            0
17        9     22       49        0             0             0            0
18        0     23       21        0             0             0            0
19       17     15       56        0             0             0            0
20        2      1       39        0             0             0            0
21        7      1       34        0             0             0            0
22       21      1       31        0             0             0            0
23        4      2       10        0             0             0            0
24        1     17       30        0             0             0            0
25        2     17       52        0             0             0            0
26       29     17       45        0             0             0            0
27       17     15       51        0             0             0            0
28        1      2       48        0             0             0            0
29        3      2       37        0             0             0            0
...     ...    ...      ...      ...           ...           ...          ...
48397    13      2       52        0             0             0            0
48398    27     17       49        0             0             0            0
48399     1      2       47        0             0             0            0
48400     6      8       10        0             0             0            0
48401    26     19       29        0             0             0            0
48402     2     19       56        0             0             0            0
48403     1      3       12        0             0             0            0
48405    16     19       28        0             0             0            0
48406     1      4        1        0             0             0            0
48407     5     19       25        0             0             0            0
48408     2      5       40        0             0             0            0
48409     2      4       58        0             0             0            0
48410    30      5       44        0             0             0            0
48411     2      4       28        0             0             0            0
48412     1      4       46        0             0             0            0
48413     1      4       41        0             0             0            0
48414     1     20       16        0             0             0            0
48415     2     20       30        0             0             0            0
48416     0      0       19        0             0             0            0
48417     0      0       18        0             0             0            0
48418     0      0       33        0             0             0            0
48419     0      0       35        0             0             0            0
48420     2     21        2        0             0             0            0
48421    27      3       38        0             0             0            0
48422     6     11       33        0             0             0            0
48423     0     21       51        0             0             0            0
48424     2     21       32        0             0             0            0
48425     1     22       46        0             0             0            0
48426    14     22       43        0             0             0            0
48427    16      0       49        0             0             0            0

[11920 rows x 7 columns]

# Read in your race-related census data

* **Tip:** This will probably give you an error the first time you try, because the Census Bureau doesn't think about the rest of the world.

In [32]:
df_cesus = pd.read_csv('R12216099_SL140.csv', encoding ='latin-1', dtype={'Geo_FIPS':'str'})

In [33]:
df_cesus.head()

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,Geo_STATECE,Geo_STATE,Geo_COUNTY,Geo_COUSUB,Geo_PLACE,Geo_PLACESE,Geo_TRACT,Geo_BLKGRP,Geo_CONCIT,Geo_AIANHH,Geo_AIANHHFP,Geo_AIHHTLI,Geo_AITSCE,Geo_AITS,Geo_ANRC,Geo_CBSA,Geo_CSA,Geo_METDIV,Geo_MACC,Geo_MEMI,Geo_NECTA,Geo_CNECTA,Geo_NECTADIV,Geo_UA,Geo_UACP,Geo_CDCURR,Geo_SLDU,Geo_SLDL,Geo_VTD,Geo_ZCTA3,Geo_ZCTA5,Geo_SUBMCD,Geo_SDELM,Geo_SDSEC,Geo_SDUNI,Geo_UR,Geo_PCI,Geo_TAZ,Geo_UGA,Geo_BTTR,Geo_BTBG,Geo_PUMA5,Geo_PUMA1,SE_A04001_001,SE_A04001_002,SE_A04001_003,SE_A04001_004,SE_A04001_005,SE_A04001_006,SE_A04001_007,SE_A04001_008,SE_A04001_009,SE_A04001_010,SE_A04001_011,SE_A04001_012,SE_A04001_013,SE_A04001_014,SE_A04001_015,SE_A04001_016,SE_A04001_017
0,55079000101,14000US55079000101,"Census Tract 1.01, Milwaukee County, Wisconsin","Census Tract 1.01, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4717,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5306,5015,1343,3567,13,70,0,16,6,291,37,0,0,0,0,254,0
1,55079000102,14000US55079000102,"Census Tract 1.02, Milwaukee County, Wisconsin","Census Tract 1.02, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4718,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3648,3549,1034,2195,36,118,0,0,166,99,67,32,0,0,0,0,0
2,55079000201,14000US55079000201,"Census Tract 2.01, Milwaukee County, Wisconsin","Census Tract 2.01, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4719,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4791,4019,1185,2657,0,102,0,0,75,772,120,0,0,0,0,613,39
3,55079000202,14000US55079000202,"Census Tract 2.02, Milwaukee County, Wisconsin","Census Tract 2.02, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4720,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6324,6148,2687,2810,87,390,12,0,162,176,113,0,0,0,0,63,0
4,55079000301,14000US55079000301,"Census Tract 3.01, Milwaukee County, Wisconsin","Census Tract 3.01, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4721,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1339,1339,1005,220,0,90,0,10,14,0,0,0,0,0,0,0,0

## Create new dataframe describing the racial makeup of each census tract

Each row should contain:

* The census tract number
* The percent of the population that is White
* The percent of the population that is Black
* The percent of the population that is Hispanic
* The percent of the population that is a minority (non-White)

You can either calculate and filter on the original shapefile, or create a whole new dataframe.

* **Tip:** You'll want to read the data dictionary for the Census data.
* **Tip:** The column names don't exactly match the data dictionary, but you can figure it out
* **Tip:** If you aren't sure which column is the actual census tract number, you can keep multiples for now

In [34]:
race_df = pd.read_csv('R12216099_SL140.csv')

race_df2 = race_df[['Geo_TRACT','SE_A04001_001', 'SE_A04001_002',
       'SE_A04001_003', 'SE_A04001_004', 'SE_A04001_005', 'SE_A04001_006',
       'SE_A04001_007', 'SE_A04001_008', 'SE_A04001_009', 'SE_A04001_010',
       'SE_A04001_011', 'SE_A04001_012', 'SE_A04001_013', 'SE_A04001_014',
       'SE_A04001_015', 'SE_A04001_016', 'SE_A04001_017']]
race_df2.rename(columns={'Geo_TRACT':'census tract','SE_A04001_001':'Total Population', 
                        'SE_A04001_002':'Not Hispanic or Latino',
                        'SE_A04001_003':'Not Hispanic or Latino: White Alone', 
                        'SE_A04001_004':'Not Hispanic or Latino: Black or African American Alone', 
                        'SE_A04001_005':'Not Hispanic or Latino: American Indian and Alaska Native Alone', 
                        'SE_A04001_006':'Not Hispanic or Latino: Asian Alone',
                        'SE_A04001_007':'Not Hispanic or Latino: Native Hawaiian and Other Pacific Islander Alone', 
                        'SE_A04001_008':'Not Hispanic or Latino: Some Other Race Alone', 
                        'SE_A04001_009':'Not Hispanic or Latino: Two or More Races', 
                        'SE_A04001_010':'Hispanic or Latino',
                        'SE_A04001_011':'Hispanic or Latino: White Alone', 
                        'SE_A04001_012':'Hispanic or Latino: Black or African American ', 
                        'SE_A04001_013':'Hispanic or Latino: American Indian and Alaska Native Alone', 
                        'SE_A04001_014':'Hispanic or Latino: Asian Alone',
                        'SE_A04001_015':'Hispanic or Latino: Native Hawaiian and Other Pacific Islander Alone', 
                        'SE_A04001_016':'Hispanic or Latino: Some Other Race Alone', 
                        'SE_A04001_017':'Hispanic or Latino: Two or More Races'})

,census tract,Total Population,Not Hispanic or Latino,Not Hispanic or Latino: White Alone,Not Hispanic or Latino: Black or African American Alone,Not Hispanic or Latino: American Indian and Alaska Native Alone,Not Hispanic or Latino: Asian Alone,Not Hispanic or Latino: Native Hawaiian and Other Pacific Islander Alone,Not Hispanic or Latino: Some Other Race Alone,Not Hispanic or Latino: Two or More Races,Hispanic or Latino,Hispanic or Latino: White Alone,Hispanic or Latino: Black or African American,Hispanic or Latino: American Indian and Alaska Native Alone,Hispanic or Latino: Asian Alone,Hispanic or Latino: Native Hawaiian and Other Pacific Islander Alone,Hispanic or Latino: Some Other Race Alone,Hispanic or Latino: Two or More Races
0,101,5306,5015,1343,3567,13,70,0,16,6,291,37,0,0,0,0,254,0
1,102,3648,3549,1034,2195,36,118,0,0,166,99,67,32,0,0,0,0,0
2,201,4791,4019,1185,2657,0,102,0,0,75,772,120,0,0,0,0,613,39
3,202,6324,6148,2687,2810,87,390,12,0,162,176,113,0,0,0,0,63,0
4,301,1339,1339,1005,220,0,90,0,10,14,0,0,0,0,0,0,0,0
5,302,3091,2946,448,2363,11,40,0,0,84,145,74,25,0,0,0,34,12
6,303,2029,1980,864,941,0,77,0,0,98,49,25,0,0,0,0,24,0
7,304,3072,3024,1318,1140,0,445,0,38,83,48,36,0,0,0,0,12,0
8,400,2450,2365,610,1384,79,0,0,0,292,85,0,0,0,0,0,85,0
9,501,3539,3348,1576,1436,0,62,0,27,247,191,45,0,0,0,0,37,109
10,502,3755,3722,820,2731,49,20,0,0,102,33,12,0,0,0,0,21,0
11,600,6845,6723,1465,3612,0,1366,0,0,280,122,92,16,0,0,0,14,0
12,700,3454,3374,1291,1838,5,198,0,7,35,80,52,0,0,15,0,13,0
13,800,5433,5064,1155,3470,29,198,0,0,212,369,124,0,0,156,0,30,59
14,900,3750,3575,741,2643,26,0,0,0,165,175,53,69,0,0,0,10,43
15,1000,3726,3538,500,2604,1,286,0,23,124,188,94,22,7,0,5,39,21
16,1100,2677,2677,304,2353,6,0,0,0,14,0,0,0,0,0,0,0,0
17,1200,2790,2611,215,1474,4,826,0,0,92,179,37,6,0,0,0,136,0
18,1300,3929,3794,317,2923,0,519,0,0,35,135,0,82,19,0,0,15,19
19,1400,2529,2439,364,1438,20,573,0,0,44,90,12,11,0,0,0,4,63
20,1500,3161,3161,538,1818,54,741,0,0,10,0,0,0,0,0,0,0,0
21,1600,3032,2951,525,2112,0,222,0,0,92,81,20,14,0,0,0,13,34
22,1700,4499,4381,1324,2963,0,86,0,0,8,118,118,0,0,0,0,0,0
23,1800,3036,2978,538,2252,0,149,0,0,39,58,27,0,7,0,0,24,0
24,1900,3001,2870,608,1925,50,91,0,0,196,131,70,0,0,0,0,61,0
25,2000,2263,2209,362,1769,1,29,0,0,48,54,35,0,0,0,0,6,13
26,2100,2067,2047,154,1880,0,0,0,0,13,20,0,0,0,0,0,20,0
27,2200,1582,1510,526,855,29,0,0,0,100,72,67,0,0,0,0,0,5
28,2300,4078,4063,179,3765,0,38,0,0,81,15,8,0,0,0,0,0,7
29,2400,1756,1746,33,1497,0,199,0,0,17,10,0,0,0,0,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,170700,2939,2753,2642,48,7,15,0,0,41,186,125,0,12,0,0,41,8
269,180100,3154,2921,2758,114,27,0,0,0,22,233,107,0,0,0,0,111,15
270,180200,4694,4106,3842,58,82,72,0,0,52,588,184,0,0,0,0,204,200
271,180300,3337,2485,2106,201,28,0,0,0,150,852,666,21,0,0,0,146,19
272,180400,2627,2565,2403,0,24,111,0,0,27,62,62,0,0,0,0,0,0
273,180500,4487,3891,3676,31,11,158,0,0,15,596,434,41,28,0,0,57,36
274,185100,4430,3979,3528,119,90,75,0,48,119,451,406,0,0,0,0,45,0
275,185200,5016,4561,4063,184,75,105,0,50,84,455,400,0,0,0,0,29,26
276,185300,3430,3368,3181,66,2,113,0,0,6,62,15,0,0,0,0,36,11
277,185400,1522,1504,26,1316,0,0,0,20,142,18,0,0,0,0,0,18,0
278,185500,1975,1975,45,1920,0,0,0,0,10,0,0,0,0,0,0,0,0
279,185600,2004,2004,353,1603,17,0,0,0,31,0,0,0,0,0,0,0,0
280,185700,1835,1722,60,1661,0,0,0,0,1,113,21,6,0,0,0,66,20
281,185800,1571,1539,35,1336,64,0,0,0,104,32,32,0,0,0,0,0,0
282,185900,1252,1221,96,800,0,325,0,0,0,31,31,0,0,0,0,0,0
283,186000,1355,1355,170,1172,3,0,0,0,10,0,0,0,0,0,0,0,0
284,186100,1969,1863,54,1412,81,269,0,0,47,106,55,49,0,0,0,0,2
285,186200,1266,1126,63,1024,3,10,0,0,26,140,44,2,0,0,0,94,0
286,186300,2754,2538,1301,1091,18,22,0,0,106,216,128,27,0,0,0,41,20
287,186400,1510,1458,1210,81,0,84,19,0,64,52,27,0,0,0,0,25,0
288,186500,1435,746,632,52,36,22,0,0,4,689,297,0,23,0,0,349,20
289,186600,1970,709,439,211,3,38,0,0,18,1261,931,14,0,0,0,86,230
290,186800,1307,823,285,466,0,43,0,0,29,484,130,0,7,0,0,251,96
291,186900,2359,2233,1763,215,0,161,0,0,94,126,126,0,0,0,0,0,0
292,187000,3455,3359,2641,229,106,275,0,17,91,96,81,0,0,0,0,15,0
293,187200,5439,5052,3339,1300,38,222,0,0,153,387,229,11,0,0,0,81,66
294,187300,6700,5944,5290,37,0,422,0,0,195,756,718,0,0,0,0,38,0
295,187400,2511,2474,2238,173,0,22,0,0,41,37,37,0,0,0,0,0,0
296,980000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
297,990000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Combine this census data with your street address data

Create a new dataframe my merging your street addresses with your census data. It would be nice to marge on census tract code, but your addresses data does **not** have a census tract on them! **This is where things get a little crazy.**

### Adding census tract codes to addresses

We went ahead and geocoded many addresses in Milwaukee to create `addresses_geocoded.csv`. You'll need to add a new column using QGIS that adds in the address's census tract.

The QGIS command **Join attributes by location** will merge datasets that geographically overlap each other. If you have one layer that's a list of lat/lon points and one layer that's a shapefile with census tract information, **join attributes by location** can create a new layer of lat/lon points that also has census tract information.

You can export the result by right clicking the layer, selecting **Export As** and making sure the output is another CSV.

### Merging

Now you'll have three datasets:

* Addresses and pothole fill ties
* Census data according with census tract codes
* Addresses with census tract codes

You'll need to merge them each together to create one whole dataset.

# Linear regression

Using the `statsmodels` package, run a linear regression to find the coefficient relating percent minority and pothole fill times.

Translate that into the form **"every X percentage point change in the minority population translates to a Y change in pot hole fill times"**

Do you feel comfortable that someone can understand that? Can you reword it to make it more easily understandable?

# Other methods of explanation

While the regression is technically correct, it just does't sound very nice. What other options do we have?

## What's the average wait to fill a pothole between majority-white and majority-minority census tracts?

You'll need to create a new column to specify whether the census tract is majority White or not.

## How does the average wait time to fill a pothole change as more minorities live in an area?

* **Tip:** Use `.cut` or `.qcut` to split the percent minority (or white) into a few different bins.

# Bonus: Income

`R12216226_SL140.csv` contains income data for each census tract in Wisconsin. Add it into your analysis.

If you run a multivariate regression also including income, how does this change things?