# Lending disparities using Logistic Regression

**The story:** https://www.revealnews.org/article/for-people-of-color-banks-are-shutting-the-door-to-homeownership/

**Author:** Aaron Glantz and Emmanuel Martinez

**Topics:** Logistic regression, odds ratios

**Datasets**

* **philadelphia-mortgages.csv:** Philadelphia mortgage data for 2015
    - A subset of HMDA LAR data from [FFEIC](https://www.ffiec.gov/hmda/hmdaproducts.htm)
    - Codebook is `2015HMDACodeSheet.pdf`
    - A [guide to HMDA reporting](https://www.ffiec.gov/hmda/guide.htm)
    - I've massaged it slightly to make processing a bit easier
* **nhgis0006_ds233_20175_2017_tract.csv:**
    - Table B03002: Hispanic or Latino Origin by Race
    - 2013-2017 American Community Survey data US Census Bureau, from [NHGIS](https://data2.nhgis.org/main)
    - Codebook is `nhgis0006_ds233_20175_2017_tract_codebook.txt`
* **lending_disparities_whitepaper_180214.pdf:** the whitepaper outlining Reveal's methodology

## What's the goal?

Do banks provide mortgages at disparate rates between white applicants and people of color? We're going to look at the following variables to find out:

* Race/Ethnicity
    - Native American
    - Asian
    - Black
    - Native Hawaiian
    - Hispanic/Latino
    - Race and ethnicity were not reported
* Sex
* Whether there was a co-applicant
* Applicant’s annual income (includes co-applicant income)
* Loan amount
* Ratio between the loan amount and the applicant’s income
* Ratio between the median income of the census tract and the median income of the metro area
* Racial and ethnic breakdown by percentage for each census tract
* Regulating agency of the lending institution

# Setup

Import pandas as usual, but also import numpy. We'll need it for logarithms and exponents.

Some of our datasets have a lot of columns, so you'll also want to use `pd.set_option` to display up to 100 columns or so.

In [24]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_colwidth", 100)

# What is each row of our data?

If you aren't sure, you might need to look at either the whitepaper or the codebook. You'll need to look at them both eventually, so might as well get started now.

Context Fields 
        GISJOIN:     GIS Join Match Code
        YEAR:        Data File Year
        REGIONA:     Region Code
        DIVISIONA:   Division Code
        STATE:       State Name
        STATEA:      State Code
        COUNTY:      County Name
        COUNTYA:     County Code
        COUSUBA:     County Subdivision Code
        PLACEA:      Place Code
        TRACTA:      Census Tract Code
        BLKGRPA:     Block Group Code
        CONCITA:     Consolidated City Code
        AIANHHA:     American Indian Area/Alaska Native Area/Hawaiian Home Land Code
        RES_ONLYA:   American Indian Area/Alaska Native Area (Reservation or Statistical Entity Only) Code
        TRUSTA:      American Indian Area (Off-Reservation Trust Land Only)/Hawaiian Home Land Code
        AITSCEA:     Tribal Subdivision/Remainder Code
        ANRCA:       Alaska Native Regional Corporation Code
        CBSAA:       Metropolitan Statistical Area/Micropolitan Statistical Area Code
        CSAA:        Combined Statistical Area Code
        METDIVA:     Metropolitan Division Code
        NECTAA:      New England City and Town Area Code
        CNECTAA:     Combined New England City and Town Area Code
        NECTADIVA:   New England City and Town Area Division Code
        UAA:         Urban Area Code
        CDCURRA:     Congressional District (2013-2017, 113th-114th Congress) Code
        SLDUA:       State Legislative District (Upper Chamber) Code
        SLDLA:       State Legislative District (Lower Chamber) Code
        ZCTA5A:      5-Digit ZIP Code Tabulation Area Code
        SUBMCDA:     Subminor Civil Division Code
        SDELMA:      School District (Elementary)/Remainder Code
        SDSECA:      School District (Secondary)/Remainder Code
        SDUNIA:      School District (Unified)/Remainder Code
        PUMA5A:      Public Use Microdata Sample Area (PUMA) Code
        BTTRA:       Tribal Census Tract Code
        BTBGA:       Tribal Block Group Code

# Read in your data

Read in our Philadelphia mortgage data and take a peek at the first few rows.

* **Tip:** As always, census tract columns like to cause problems if they're read in as numbers. Make sure pandas reads it in as a string.

In [27]:
df = pd.read_csv('data/philadelphia-mortgages.csv', dtype='str')
df.census_tract = df.census_tract.str.replace('.','')
df.head()

,census_tract,county_code,state_code,applicant_sex,income,loan_amount,loan_type,property_type,occupancy,action_type,loan_purpose,agency_code,tract_to_msa_income_percent,applicant_race,co_applicant_sex
0,010100,101,42,3,26,5,1,1,1,4,2,5,97.09,6,5
1,026400,101,42,2,26,40,1,1,1,4,2,5,98.27,3,5
2,028100,101,42,2,22,20,1,1,1,5,2,5,72.28,6,5
3,015800,101,42,2,57,36,1,1,1,5,3,5,105.87,6,5
4,035800,101,42,1,80,34,1,1,1,1,3,5,139.62,5,2

In [28]:
race = pd.read_csv('data/nhgis0007_ds215_20155_2015_tract.csv', encoding='latin-1')
race.head()

,GISJOIN,YEAR,REGIONA,DIVISIONA,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,PLACEA,TRACTA,BLKGRPA,CONCITA,AIANHHA,RES_ONLYA,TRUSTA,AITSCEA,ANRCA,CBSAA,CSAA,METDIVA,NECTAA,CNECTAA,NECTADIVA,UAA,CDCURRA,SLDUA,SLDLA,ZCTA5A,SUBMCDA,SDELMA,SDSECA,SDUNIA,PUMA5A,BTTRA,BTBGA,NAME_E,ADK5E001,ADK5E002,ADK5E003,ADK5E004,ADK5E005,ADK5E006,ADK5E007,ADK5E008,ADK5E009,ADK5E010,ADK5E011,ADK5E012,ADK5E013,ADK5E014,ADK5E015,ADK5E016,ADK5E017,ADK5E018,ADK5E019,ADK5E020,ADK5E021,NAME_M,ADK5M001,ADK5M002,ADK5M003,ADK5M004,ADK5M005,ADK5M006,ADK5M007,ADK5M008,ADK5M009,ADK5M010,ADK5M011,ADK5M012,ADK5M013,ADK5M014,ADK5M015,ADK5M016,ADK5M017,ADK5M018,ADK5M019,ADK5M020,ADK5M021
0,G0100010020100,2011-2015,NaN,NaN,Alabama,1,Autauga County,1,NaN,NaN,20100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Census Tract 201, Autauga County, Alabama",1948,1931,1703,150,6,12,0,0,60,0,60,17,17,0,0,0,0,0,0,0,0,"Census Tract 201, Autauga County, Alabama",203,212,229,126,8,16,11,11,44,11,44,21,21,11,11,11,11,11,11,11,11
1,G0100010020200,2011-2015,NaN,NaN,Alabama,1,Autauga County,1,NaN,NaN,20200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Census Tract 202, Autauga County, Alabama",2156,2139,872,1149,0,50,0,0,68,0,68,17,14,0,0,0,0,3,0,0,0,"Census Tract 202, Autauga County, Alabama",268,268,207,250,11,61,11,11,62,11,62,25,23,11,11,11,11,7,11,11,11
2,G0100010020300,2011-2015,NaN,NaN,Alabama,1,Autauga County,1,NaN,NaN,20300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Census Tract 203, Autauga County, Alabama",2968,2968,2212,551,15,41,8,0,141,0,141,0,0,0,0,0,0,0,0,0,0,"Census Tract 203, Autauga County, Alabama",404,404,372,190,22,62,14,11,135,11,135,11,11,11,11,11,11,11,11,11,11
3,G0100010020400,2011-2015,NaN,NaN,Alabama,1,Autauga County,1,NaN,NaN,20400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Census Tract 204, Autauga County, Alabama",4423,3959,3662,162,69,0,0,48,18,5,13,464,30,42,0,0,0,372,20,20,0,"Census Tract 204, Autauga County, Alabama",493,353,343,133,81,11,11,82,17,8,16,437,33,50,11,11,11,456,29,29,11
4,G0100010020500,2011-2015,NaN,NaN,Alabama,1,Autauga County,1,NaN,NaN,20500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Census Tract 205, Autauga County, Alabama",10763,10683,7368,2674,0,412,0,0,229,49,180,80,80,0,0,0,0,0,0,0,0,"Census Tract 205, Autauga County, Alabama",624,616,796,742,18,242,18,18,166,74,149,71,71,18,18,18,18,18,18,18,18

### Check your column types

I mentioned it above, but make sure `census_tract` is an object (a string) or merging isn't going to be any fun later on.

In [29]:
df.dtypes

census_tract                   object
county_code                    object
state_code                     object
applicant_sex                  object
income                         object
loan_amount                    object
loan_type                      object
property_type                  object
occupancy                      object
action_type                    object
loan_purpose                   object
agency_code                    object
tract_to_msa_income_percent    object
applicant_race                 object
co_applicant_sex               object
dtype: object

# Engineering and cleaning up features

## Income-related columns

> When we plotted the number of applicants, how much money they made and the size of the loan, we found that it skewed to the left, meaning the majority of applicants were clustered on the lower end of the income and loan amount scales. This was especially true for applicants of color. **We took the logarithm transformation of income and loan amount to normalize the distribution of those variables and limit the effect of extreme outliers.**

A few of the columns you'll need to calculate yourselves. **Calculate these values and assign them to three new columns.**

* Applicant’s adjusted annual income (includes co-applicant income)
* Adjusted loan amount
* Ratio between the loan amount and the applicant’s income

Instead of using the raw income and loan amount, you'll want the log of both income and loan amount. Call these new columns `log_income` and `log_loan_amount`. The third column will be `loan_income_ratio`.

* **Tip:** `np.log` gives you the logarithm

In [30]:
df['log_income'] = np.log(df.income.astype(int))
df['log_loan_amount'] = np.log(df.loan_amount.astype(int))
df['loan_income_ratio'] = df.log_loan_amount / df.log_income
df.head()

,census_tract,county_code,state_code,applicant_sex,income,loan_amount,loan_type,property_type,occupancy,action_type,loan_purpose,agency_code,tract_to_msa_income_percent,applicant_race,co_applicant_sex,log_income,log_loan_amount,loan_income_ratio
0,010100,101,42,3,26,5,1,1,1,4,2,5,97.09,6,5,3.258097,1.609438,0.493981
1,026400,101,42,2,26,40,1,1,1,4,2,5,98.27,3,5,3.258097,3.688879,1.132219
2,028100,101,42,2,22,20,1,1,1,5,2,5,72.28,6,5,3.091042,2.995732,0.969166
3,015800,101,42,2,57,36,1,1,1,5,3,5,105.87,6,5,4.043051,3.583519,0.886340
4,035800,101,42,1,80,34,1,1,1,1,3,5,139.62,5,2,4.382027,3.526361,0.804733

### Co-applicants

Right now we have a column about the co-applicant's sex (see the codebook for column details). We don't want the sex, though, we're interested in whether there is a co applicant or not. Use the co-applicant's sex to **create a new column called `co_applicant` that is either 'yes', 'no', or 'unknown'.**

* **Hint:** If the co-applicant's sex was not provided or is not applicable, count it as unknown.
* **Hint:** The easiest way is to use `.replace` on the co-applicant sex column, but store the result in your new column

In [31]:
df.co_applicant_sex.value_counts()

5    40154
2    13014
1     4968
3     1529
4     1040
Name: co_applicant_sex, dtype: int64

In [32]:
df['co_applicant'] = df.co_applicant_sex.replace({'1': 'Yes', '2': 'Yes', '3': 'Unknown', '4': 'Unknown', '5': 'No'})

In [33]:
df.head()

,census_tract,county_code,state_code,applicant_sex,income,loan_amount,loan_type,property_type,occupancy,action_type,loan_purpose,agency_code,tract_to_msa_income_percent,applicant_race,co_applicant_sex,log_income,log_loan_amount,loan_income_ratio,co_applicant
0,010100,101,42,3,26,5,1,1,1,4,2,5,97.09,6,5,3.258097,1.609438,0.493981,No
1,026400,101,42,2,26,40,1,1,1,4,2,5,98.27,3,5,3.258097,3.688879,1.132219,No
2,028100,101,42,2,22,20,1,1,1,5,2,5,72.28,6,5,3.091042,2.995732,0.969166,No
3,015800,101,42,2,57,36,1,1,1,5,3,5,105.87,6,5,4.043051,3.583519,0.886340,No
4,035800,101,42,1,80,34,1,1,1,1,3,5,139.62,5,2,4.382027,3.526361,0.804733,Yes

# Filter loan applicants

If you read the whitepaper - `lending_disparities_whitepaper_180214.pdf` - many filters are used to get to the target dataset for analysis.

> **Loan type**
>
> While we recognize the substantial presence of applicants of color in the FHA market, we focused on conventional home loans for several reasons.

> **Property type**
>
> Prospective borrowers submit loan applications for various types of structures: one- to four-unit properties, multifamily properties and manufactured homes. For this analysis, we focused on one- to four-unit properties.

> **Occupancy**
>
> We included only borrowers who said they planned to live in the house they were looking to buy. We did this to exclude developers or individuals who were buying property as an investment or to subsequently flip it.

> **Action Type**
>
> We wanted to look at the reasons lending institutions deny people a mortgage. After conversations with former officials at HUD, we decided to include only those applications that resulted in originations (action type 1) or denials (action type 3)

> **Income**
>
> An applicant’s income isn’t always reported in the data. In other cases, the data cuts off any incomes over \\$9.9 million and any loan amounts over \\$99.9 million, meaning there’s a value in the database, but it’s not precise. We focused only on those records where income and loan amount have an accurate estimation. This meant discarding about 1 percent of all conventional home loans in the country for 2016. [Note: I already edited this]
>
> When we plotted the number of applicants, how much money they made and the size of the loan, we found that it skewed to the left, meaning the majority of applicants were clustered on the lower end of the income and loan amount scales. This was especially true for applicants of color. We took the logarithm transformation of income and loan amount to normalize the distribution of those variables and limit the effect of extreme outliers.

> **Lien status**
>
> We included all cases in our analysis regardless of lien status.

> **Race and ethnicity**
>
> At first, we looked at race separate from ethnicity, but that approach introduced too many instances in which​ ​either the ethnicity or race was unknown. So we decided to combine race and ethnicity. Applicants who marked their ethnicity as Hispanic were grouped together as Hispanic/Latino regardless of race. Non-Hispanic applicants, as well as those who didn’t provide an ethnicity, were grouped together by race: non-Hispanic white, non-Hispanic black, etc. **[Note: This has already been taken care of]**

> **Loan purpose**
>
> We decided to look at home purchase, home improvement and refinance loans separately from each other. [Note: please look at **home purchase** loans.]

Use the text above (it's from the whitepaper) and the **2015HMDACodeSheet.pdf** code book to filter the dataset.

* **Tip:** there should be between 5-8 filters, depending on how you write them.

In [34]:
# loan 
df = df[df.loan_type.str.contains('1')]

# property 
df = df[df.property_type.str.contains('1')]

# occupancy
df = df[df.occupancy.str.contains('1')]

# action 
df = df[df.action_type.str.contains('1|3')]

# purpose
purchase_df = df[df.loan_purpose.str.contains('1')]
improve_df = df[df.loan_purpose.str.contains('2')]
refinance_df = df[df.loan_purpose.str.contains('3')]

In [37]:
purchase_df = purchase_df.copy()
purchase_df = purchase_df.drop(['loan_type','property_type','occupancy','loan_purpose'], axis=1)

When you're done filtering, save your dataframe as a "copy" with `df = df.copy()` (if it's called `df`, of course). This will prevent irritating warnings when you're trying to create new columns.

### Confirm that you have 10,107 loans with 19 columns

In [38]:
purchase_df.shape
#Dropped 4 columns above to avoid repetition

(10107, 15)

### Create a "loan denied" column

Right now the `action_type` category reflects whether the loan was granted or not, and either has a value of `1` or `3`.

Create a new column called `loan_denied`, where the value is `0` if the loan was accepted and `1` if the loan was denied. **This will be our target for the machine learning algorithm.**

* **Tip:** You should have 8,878 successful loans and 1,229 denied loans

In [39]:
purchase_df['loan_denied'] = purchase_df.action_type.replace({'1':'0', '3':'1'}).astype(int)
purchase_df.loan_denied.value_counts()

0    8878
1    1229
Name: loan_denied, dtype: int64

# Deal with categorical variables

Let's go ahead and take a look at our categorical variables:

* Applicant sex (male, female, na)
* Applicant race
* Mortgage agency
* Co-applicant (yes, no, unknown)

Before we do anything crazy, let's use the codebook to turn them into strings.

* **Tip:** We already did this with the `co_applicant` column, you only need to do the rest
* **Tip:** Just use `.replace`

In [40]:
purchase_df.applicant_sex.replace({'1':'Male', '2':'Female', '3':'unknown'}, inplace=True)
purchase_df.applicant_race.replace({'1':'NA', '2':'Asian', '3':'Black', '4':'PI', '5':'White', '6':'Unknown', '99':'Hisp'}, inplace=True)
purchase_df.co_applicant_sex.replace({'1':'Male', '2':'Female', '3':'Unknown', '4':'Unknown', '5':'None'}, inplace=True)
purchase_df.agency_code.replace({'1':'OCC', '2':'FRS', '3':'FDIC', '5':'NCUA', '7':'HUD', '9':'CFPB'}, inplace=True)

In [41]:
purchase_df.head()

,census_tract,county_code,state_code,applicant_sex,income,loan_amount,action_type,agency_code,tract_to_msa_income_percent,applicant_race,co_applicant_sex,log_income,log_loan_amount,loan_income_ratio,co_applicant,loan_denied
42,401900,045,42,Female,59,112,1,OCC,133.09,White,None,4.077537,4.718499,1.157193,No,0
43,409902,045,42,unknown,177,375,1,OCC,208.56,Unknown,Unknown,5.176150,5.926926,1.145045,Unknown,0
46,410200,045,42,Male,150,381,1,OCC,215.35,White,None,5.010635,5.942799,1.186037,No,0
48,031200,101,42,Female,65,136,1,OCC,93.11,Asian,None,4.174387,4.912655,1.176857,No,0
51,403601,045,42,Female,55,196,1,OCC,141.83,Asian,None,4.007333,5.278115,1.317114,No,0

Double-check these columns match these values in the first three rows (and yes, you should have a lot of other columns, too).

|applicant_sex|agency_code|applicant_race|co_applicant|
|---|---|---|---|
|female|OCC|white|no|
|na|OCC|na|unknown|
|male|OCC|white|no|

## Dummy variables

Let's say we're at the end of the homework, and we have a column called `sex`, where `0` is female and `1` is male. After we've done our regression, we can look at the coefficient/odds ratio for `sex` and say something like **"being male gives you a 1.5x odds of being denied a loan."**

We can say this because we're looking at one column, and changing `sex` from `0` to `1` would turn the applicant male and give them a 1.5x chance of being denied (the odds ratio).

**But let's say we're looking at a column called `race` instead.** We could do the same `0`/`1` thing with white/minority, but what about white/black/asian? If we try to give them `0`/`1`/`2` our coefficient/odds ratio interpreation stops working, because we don't have a nice True/False dichotomy any more, it's now a *real number*.

* `0`: White
* `1`: Black
* `2`: Asian

Usually with numbers you can say "...for every increase of 1...", but we can't anymore - changing from White to Black (+1) isn't the same as changing from Black to Asian (+1). And you can't subtract Black from Asian to get White. And no, you also can't average together White and Asian to get Black. Just recognize that these aren't numbers, they're categories!

**How can we turn races off and on like we can turn the `sex` variable off and on?** A good option is to make *a `0`/`1` column for each race*. We can then flip each race off and on. These are called **dummy variables**.

In [42]:
pd.get_dummies(df.applicant_race, prefix='race').head()

    race_1  race_2  race_3  race_4  race_5  race_6  race_7  race_99
4        0       0       0       0       1       0       0        0
6        0       0       0       0       0       1       0        0
10       0       0       1       0       0       0       0        0
11       0       0       1       0       0       0       0        0
12       0       0       0       0       0       1       0        0

Seems to take up a lot of space, but it works a lot better.

* The first person is white, so they have a `1` for white and a `0` for every other race
* The second person is N/A, so they have a `1` for N/A and a `0` for every other race
* The next three are white, asian, and asian, so they have a `1` under the appropriate column.

When you're looking at the regression output, each column has its own coefficient (and odds ratio). Since each race now has a column, **each race will also have its own odds ratio.** Asian would have one, Black would have one, Latino would have one - now we can look at the effect of each race separately. For example, you could then say something like "being Asian (e.g., `race_asian` going from `0` to `1`) gives you a 1.2x greater chance of being denied, and being Black gets you a 2.1x chance of being denied."

And no, you're never going to have more than one `1` in a row at the same time.

After you've created your dummy variables, there's one more step which has a real fun name: **one-hot encoding.**

### One-hot encoding

When we have two sexes - male and female - we can flip between them with one binary digit, `0` and `1`.

If we had three races - White, Asian, Black - using `pd.get_dummies` would make three columns, which makes sense on the surface. But why can we put TWO values in ONE column for sex, and it takes THREE columns for the THREE race values?

The truth is, it doesn't have to!

Instead of having three columns, we're only going to have two: **asian and black**. And if both of them are `0`? The applicant is white! This is called a **reference category**, and it means **the coefficients/odds ratios for asian and black are in reference to a white applicant.** So it isn't "being black gets you a 2.1x chance of being denied," it's *being black gets you a 2.1x chance of being denied compared to a white person*. For example:

|race_asian|race_black|person's race|
|---|---|---|
|1|0|Asian|
|0|1|Black|
|0|0|White|
|1|1|Not possible if your source is a single race column|

To create a one-hot encoded variable with a reference category, you write code like this:

In [44]:
pd.get_dummies(purchase_df.applicant_race, prefix='race').drop('race_White', axis=1).head()

    race_Asian  race_Black  race_Hisp  race_NA  race_PI  race_Unknown
42           0           0          0        0        0             0
43           0           0          0        0        0             1
46           0           0          0        0        0             0
48           1           0          0        0        0             0
51           1           0          0        0        0             0

> We usually use `.drop(columns=...)` to drop columns, but I'm using `axis=1` here because you should be familiar with it

### Make a one-hot encoded `sex` category with `female` as the reference category

You should end up with two columns: `sex_male` and `sex_na`.

In [46]:
#pd.get_dummies(df.applicant_sex, prefix='sex').drop('sex_female', axis=1).head()
pd.get_dummies(purchase_df.applicant_sex, prefix='sex').drop('sex_Female', axis=1).head()

    sex_Male  sex_unknown
42         0            0
43         0            1
46         1            0
48         0            0
51         0            0

## Using one-hot encoded columns

Since these one-hot encoded variables are standalone dataframes, we eventually need to combine them into our original dataframe.

We have four categorical variables - sex, race, co-applicant, and the loan agency - so we need you to **make four one-hot encoded variables**. Name them like this:

* `dummies_sex` - reference category of white
* `dummies_race` - reference category of female
* `dummies_co_applicant` - reference category of no
* `dummies_agency` - reference category of FDIC

Typically your reference category is the most common category, because it makes for the most interesting comparisons.

> **Tip:** if you're cutting and pasting from above, watch out for `.head()`
>
> **Tip:** After you've made them, use `.head(2)` to check the first couple rows of each to make sure they look okay

In [47]:
dummies_race = pd.get_dummies(purchase_df.applicant_race, prefix='race').drop('race_White', axis=1)

In [48]:
dummies_sex = pd.get_dummies(purchase_df.applicant_sex, prefix='sex').drop('sex_Female', axis=1)

In [49]:
dummies_co_applicant = pd.get_dummies(purchase_df.co_applicant, prefix='co_app').drop('co_app_No', axis=1)

In [50]:
dummies_agency = pd.get_dummies(purchase_df.agency_code, prefix='agency').drop('agency_FDIC', axis=1)

## Cleaning up our old dataframe

Take a look at your original dataframe real quick.

In [51]:
purchase_df.head()

,census_tract,county_code,state_code,applicant_sex,income,loan_amount,action_type,agency_code,tract_to_msa_income_percent,applicant_race,co_applicant_sex,log_income,log_loan_amount,loan_income_ratio,co_applicant,loan_denied
42,401900,045,42,Female,59,112,1,OCC,133.09,White,None,4.077537,4.718499,1.157193,No,0
43,409902,045,42,unknown,177,375,1,OCC,208.56,Unknown,Unknown,5.176150,5.926926,1.145045,Unknown,0
46,410200,045,42,Male,150,381,1,OCC,215.35,White,None,5.010635,5.942799,1.186037,No,0
48,031200,101,42,Female,65,136,1,OCC,93.11,Asian,None,4.174387,4.912655,1.176857,No,0
51,403601,045,42,Female,55,196,1,OCC,141.83,Asian,None,4.007333,5.278115,1.317114,No,0

We don't need all of those columns! If we look at the list of columns we'll be using for the regression:

* Race/Ethnicity
* Sex
* Whether there was a co-applicant
* Applicant’s annual income (includes co-applicant income)
* Loan amount
* Ratio between the loan amount and the applicant’s income
* Ratio between the median income of the census tract and the median income of the metro area
* Racial and ethnic breakdown by percentage for each census tract
* Regulating agency of the lending institution

We can keep anything in that list, and remove everything else. For example, we can drop the variables we used to create the dummy variables, as we'll be adding the one-hot encoded versions in for the next step.

For "Racial and ethnic breakdown by percentage for each census tract" we'll need to join with some census data later, so we need to also keep census tract, county code and state code.

**Build a new dataframe with only the columns we're interested in, call it `numeric`.** We're calling it `numeric` because it's mostly numeric columns after the categorical ones have been removed.

> **Tip:** You can either use `.drop(columns=` to remove unwanted columns or `df = df[['col1', 'col2', ... 'col12']]` to only select the ones you're interseted in

In [52]:
numeric = purchase_df[['census_tract','county_code','state_code','tract_to_msa_income_percent','log_income','log_loan_amount','loan_income_ratio','loan_denied']]

Confirm that `numeric` has 8 columns.

In [54]:
numeric.shape

(10107, 8)

### Combining our features

We now have 1 dataframe of numeric features (and some merge columns), and 4 one-hot-encoded variables (each with their own dataframe). Combine all five dataframes into one large dataframe called `loan_features`.

In [55]:
loan_features = pd.concat([numeric, dummies_race, dummies_sex, dummies_co_applicant, dummies_agency], axis=1)
loan_features.head()

,census_tract,county_code,state_code,tract_to_msa_income_percent,log_income,log_loan_amount,loan_income_ratio,loan_denied,race_Asian,race_Black,race_Hisp,race_NA,race_PI,race_Unknown,sex_Male,sex_unknown,co_app_Unknown,co_app_Yes,agency_CFPB,agency_FRS,agency_HUD,agency_NCUA,agency_OCC
42,401900,045,42,133.09,4.077537,4.718499,1.157193,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
43,409902,045,42,208.56,5.176150,5.926926,1.145045,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,1
46,410200,045,42,215.35,5.010635,5.942799,1.186037,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
48,031200,101,42,93.11,4.174387,4.912655,1.176857,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
51,403601,045,42,141.83,4.007333,5.278115,1.317114,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1

Confirm that `loan_features` has 10,107 rows and 23 columns.

In [56]:
loan_features.shape

(10107, 23)

# Census data

Now we just need the final piece to the puzzle, the census data. Read in the census data file, calling the dataframe `census`.

> **Tip:** As always, be sure to read the tract column in as a string. Interestingly, this time we _don't_ need to worry about the state or county codes in the same way.
>
> **Tip:** You're going to encounter a problem that you find every time you read in a file from the US government!

In [58]:
columns = ['STATEA',
           'COUNTYA',
           'TRACTA',
           'ADK5E001',
           'ADK5E002','ADK5E003','ADK5E004','ADK5E005','ADK5E006','ADK5E007','ADK5E008','ADK5E009','ADK5E010','ADK5E011',
           'ADK5E012','ADK5E013','ADK5E014','ADK5E015','ADK5E016','ADK5E017','ADK5E018','ADK5E019','ADK5E020','ADK5E021']
census = pd.read_csv('data/nhgis0007_ds215_20155_2015_tract.csv', encoding='latin-1', usecols=columns, dtype={'STATEA':str,'COUNTYA':str,'TRACTA':str})
census.rename(columns={'STATEA':'state_code',
                       'COUNTYA':'county_code',
                       'TRACTA':'census_tract',
                       'ADK5E001':'Total',
                       'ADK5E002':'NoHisp_All',
                       'ADK5E003':'NoHisp_White',
                       'ADK5E004':'NoHisp_Black',
                       'ADK5E005':'NoHisp_NA',
                       'ADK5E006':'NoHisp_Asian',
                       'ADK5E007':'NoHisp_PI',
                       'ADK5E008':'NoHisp_Other',
                       'ADK5E009':'NoHisp_Multi1',
                       'ADK5E010':'NoHisp_Multi2',
                       'ADK5E011':'NoHisp_Multi3',
                       'ADK5E012':'Hisp_All',
                       'ADK5E013':'Hisp_White',
                       'ADK5E014':'Hisp_Black',
                       'ADK5E015':'Hisp_NA',
                       'ADK5E016':'Hisp_Asian',
                       'ADK5E017':'Hisp_PI',
                       'ADK5E018':'Hisp_Other',
                       'ADK5E019':'Hisp_Multi1',
                       'ADK5E020':'Hisp_Multi2',
                       'ADK5E021':'Hisp_Multi3'
                      }, inplace=True)
census.sample(5)

,state_code,county_code,census_tract,Total,NoHisp_All,NoHisp_White,NoHisp_Black,NoHisp_NA,NoHisp_Asian,NoHisp_PI,NoHisp_Other,NoHisp_Multi1,NoHisp_Multi2,NoHisp_Multi3,Hisp_All,Hisp_White,Hisp_Black,Hisp_NA,Hisp_Asian,Hisp_PI,Hisp_Other,Hisp_Multi1,Hisp_Multi2,Hisp_Multi3
50802,39,025,040900,5840,5829,5744,55,0,0,0,0,30,0,30,11,5,0,0,0,0,6,0,0,0
19541,13,135,050315,5724,4212,1898,2005,0,108,0,28,173,0,173,1512,814,12,0,0,0,631,55,42,13
36885,28,015,950200,5371,5354,2732,2564,0,0,0,0,58,0,58,17,7,0,0,0,0,0,10,10,0
64546,48,201,533300,6452,5526,18,5508,0,0,0,0,0,0,0,926,778,0,0,0,0,147,1,0,1
34891,26,163,500500,1649,1635,10,1603,5,0,0,0,17,0,17,14,0,14,0,0,0,0,0,0,0

## Rename some columns

If you like to keep your data extra clean, feel free to rename the columns you're interested in. If not, feel free to skip it!

> **Tip:** Make sure you're using the estimates columns, not the margin of error columns

In [ ]:
#Copy and pasted from a previous hm :)

## Computed columns

According to Reveal's regression output, you'll want to create the following columns:

* Percent Black in tract
* Percent Hispanic/Latino in tract (I hope you know how Hispanic/Latino + census data works by now)
* Percent Asian in tract
* Percent Native American in tract
* Percent Native Hawaiian in tract

Notice that we don't include percent white - **because all of the other columns add up to percent white, we ignore it!** It's similar to a reference category.

> If we want to use buzzwords here, the technical reason we're not using percent white is called **collinearity.** We'll talk more about it on Friday.

In [59]:
census_features = census[['state_code','county_code','census_tract']]
census_features['pct_Hisp'] = ((census.Hisp_All / census.Total) * 100).round(1)
census_features['pct_Black'] = ((census.NoHisp_Black / census.Total) * 100).round(1)
census_features['pct_NA'] = ((census.NoHisp_NA / census.Total) * 100).round(1)
census_features['pct_Asian'] = ((census.NoHisp_Asian / census.Total) * 100).round(1)
census_features['pct_PI'] = ((census.NoHisp_PI / census.Total) * 100).round(1)
census_features.sample(5)

#Lots of red areas - should I be doing something different??

/Users/giovanafleck/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/giovanafleck/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/giovanafleck/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/giovanafleck/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/giovanafleck/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,state_code,county_code,census_tract,pct_Hisp,pct_Black,pct_NA,pct_Asian,pct_PI
1435,04,007,001100,43.8,0.4,6.4,1.5,0.0
8514,06,065,941100,5.0,0.2,0.1,1.2,0.0
45684,36,061,010200,3.1,0.4,9.7,4.3,0.0
43890,36,027,130005,10.1,4.5,0.0,0.0,0.0
37476,28,151,001100,0.0,99.4,0.0,0.0,0.0

## Only keep what we need to join and process

We're only interested in the percentage columns that we computed. Create a new dataframe called `census_features` that is only those columns along with the one we'll need for joining with the mortgage data.

> * **Tip:** Remember we saved state, county and tract codes when working on the loan data

Confirm that your first few rows look something like this:
    
|STATEA|COUNTYA|TRACTA|pct_hispanic|pct_black|pct_amer_indian|pct_asian|pct_pac_islander|
|---|---|---|---|---|---|---|---|
|1|1|020100|0.872690|7.700205|0.308008|0.616016|0.000000|
|1|1|020200|0.788497|53.293135|0.000000|2.319109|0.000000|
|1|1|020300|0.000000|18.564690|0.505391|1.381402|0.269542|
|1|1|020400|10.490617|3.662672|1.560027|0.000000|0.000000|
|1|1|020500|0.743287|24.844374|0.000000|3.827929|0.000000|

Your column headers might be different but your numbers should match.

# Merge datasets

Merge `loan_features` and `census_features` into a new dataframe called `merged`.

Unfortunately something is a little different between our `loan_features` and `census_features` census tract columns. You'll need to fix it before you can merge.

## Cleaning

In [ ]:
#I think it's ok with the cleaning done before (?)

## Do the merge

In [60]:
merged = pd.merge(loan_features, census_features, on=['state_code','county_code','census_tract'])

Confirm you have 10107 rows and 31 columns in the merged dataframe.

In [62]:
merged.shape #droped some while cleaning

(10107, 28)

# Our final dataframe

Drop all of the columns we merged on and save it as `train_df`.

In [63]:
train_df = merged.drop(['census_tract','county_code','state_code'], axis=1)

Confirm that `train_df` has 10107 rows and 25 columns.

In [64]:
train_df.shape

(10107, 25)

## Final cleanup

Because we can't have missing data before we run a regression, check the size of `train_df`, then drop any missing data and check the size again. **Confirm you don't lose any rows.**

In [65]:
train_df = train_df.dropna(axis=0, how='any')

In [66]:
train_df.shape

(10107, 25)

# Performing our regression

## Try with statsmodels

First try to run a linear regression with statsmodels, because even though sometimes it complains and breaks, the output just looks *so nice*. Instead of `sm.OLS` we'll use `sm.Logit`.

In [68]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.metrics import confusion_matrix
import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std

In [69]:
X = train_df[['race_Black','race_Hisp','race_Asian','pct_Black','pct_Hisp','pct_Asian','sex_Male','log_income']]
X = sm.add_constant(X)
y = train_df['loan_denied']               

mod = sm.Logit(y,X)
res = mod.fit()
res.summary()

Optimization terminated successfully.
         Current function value: 0.352023
         Iterations 6

/Users/giovanafleck/.pyenv/versions/3.6.5/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            loan_denied   No. Observations:                10107
Model:                          Logit   Df Residuals:                    10098
Method:                           MLE   Df Model:                            8
Date:                Wed, 24 Jul 2019   Pseudo R-squ.:                 0.04884
Time:                        12:31:55   Log-Likelihood:                -3557.9
converged:                       True   LL-Null:                       -3740.6
Covariance Type:            nonrobust   LLR p-value:                 4.726e-74
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.3858      0.231     -1.671      0.095      -0.838       0.067
race_Black     0.7801      0.104      7.468      0.000       0.575       0.985
race_Hisp      0.2033      0.157      1.296      0.195      -0.104       0.511
race_Asian     0.2429      0.099      2.447      0.014       0.048       0.437
pct_Black      0.0069      0.001      5.199      0.000       0.004       0.009
pct_Hisp       0.0033      0.003      1.059      0.290      -0.003       0.009
pct_Asian      0.0087      0.004      2.097      0.036       0.001       0.017
sex_Male       0.0030      0.064      0.047      0.962      -0.122       0.128
log_income    -0.4472      0.048     -9.246      0.000      -0.542      -0.352
==============================================================================
"""

## Try again with sci-kit learn

But I'll be honest, I like sklearn a *lot lot lot* better. Using the coefficient to build a dataframe just seems so *nice*.

> **Tip:** When you build your model, use `LogisticRegression(C=1e9, solver='lbfgs', max_iter=4000)` - for if you don't increase `max_iter` (how long/hard it works) it'll complain it can't find an answer.

In [71]:
fields = ['race_Black','race_Hisp','race_Asian','pct_Black','pct_Hisp','pct_Asian','sex_Male','log_income']
x = train_df[fields].values
y = train_df[['loan_denied']].values
lm = LogisticRegression(C=1e9, solver='lbfgs', max_iter=4000) 
lm.fit(x,y)

results = pd.DataFrame(np.exp(lm.coef_), columns=fields)
results

/Users/giovanafleck/.pyenv/versions/3.6.5/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,race_Black,race_Hisp,race_Asian,pct_Black,pct_Hisp,pct_Asian,sex_Male,log_income
0,2.181656,1.225276,1.274949,1.006887,1.003322,1.008754,1.00301,0.639398

### Getting your coefficients and odds ratios

After you run your regression **using sklearn**, you can use code like the below to print out an ordered list of features, coefficients, and odds ratios.

```python
feature_names = X.columns
coefficients = clf.coef_[0]

pd.DataFrame({
    'feature': feature_names,
    'coefficient (log odds ratio)': coefficients,
    'odds ratio': np.exp(coefficients)
}).sort_values(by='odds ratio', ascending=False)
```

In [72]:
feature_names = X.columns
coefficients = clf.coef_[0]

pd.DataFrame({
    'feature': feature_names,
    'coefficient (log odds ratio)': coefficients,
    'odds ratio': np.exp(coefficients)
}).sort_values(by='odds ratio', ascending=False)

NameError: name 'clf' is not defined

### Wait, what's the odds ratio again?

It's how much that variable affects the outcome **if all other variables stay the same.**

# Interpreting and thinking about the analysis

### Question 1

Our results aren't exactly the same as Reveal's, as I pulled a slightly different number of rows from the database and I'm not sure what exact dataset they used for census information. How are we feeling about this reproduction? **You might want check their 2015 results in the whitepaper.**

In [ ]:
#As different as it may be, I believe it shows a certain tendency. I keep reafirming that journalism needs to ba eas 
#transparent as possible. In their place, I would have made available the exact datasets they used in thar period of time
#and disclosure their steps to give as much context to the analysis as possible.

### Question 2

In the opening paragraph to the flagship piece, [Aaron and Emmanuel write](https://www.revealnews.org/article/for-people-of-color-banks-are-shutting-the-door-to-homeownership/):

> Fifty years after the federal Fair Housing Act banned racial discrimination in lending, African Americans and Latinos continue to be routinely denied conventional mortgage loans at rates far higher than their white counterparts.

If you look at the results, Hawaiians/Pacific Islanders (and maybe Native Americans) have an even higher odds ratio. **Why do they choose to talk about African Americans and Latinos instead?**

In [ ]:
#JUst a guess, it could be just a lack of atention or historical context (?)

### Question 3

Write a sentence expressing the meaning of the **odds ratio** statistic for Black mortgage applicants. Find a line in [the Reveal piece](https://www.revealnews.org/article/for-people-of-color-banks-are-shutting-the-door-to-homeownership/) where they use the odds ratio.

In [ ]:
#"[...] where Reveal found African Americans were 2.7 times as likely as whites to be denied a conventional mortgage."

### Question 4

Write a similar sentence about men.

### Question 5

Why did Aaron and Emmanuel choose to include the loan-to-income ratio statistic? **You might want to read the whitepaper.**

### Question 6

Credit score is a common reason why loans are denied. Why are credit scores not included in our analysis? **You might want to read the whitepaper.**

### Question 7

This data was just sitting out there for anyone to look at, they didn't even need to FOIA it. Why do you think this issue had not come up before Reveal's analysis?

### Question 8

As a result of this series, [a lot has happened](https://www.revealnews.org/blog/we-exposed-modern-day-redlining-in-61-cities-find-out-whats-happened-since/), although [recent changes don't look so good](https://www.revealnews.org/blog/cfpb-moves-to-limit-home-loan-data/). If you were reporting this story, what groups of people would you want to talk to in order to make sure you're getting the story right?

### Question 9

When they were consulting experts, Aaron and Emmanuel received a lot of conflicting accounts about whether they should include the "N/A" values for race (they ended up including it). If the experts disagreed about something like that, why do you think they went forward with their analysis?

### Question 10

What if we were working on this story, and our logistic regression or input dataset were flawed? What would be the repercussions?