In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from statistics import mode
from statistics import median

# Pandas Review

This HW covers the concepts simple pandas concepts introduced in class using NBA Players Stats - 2014-2015 data
To find out more about the data follow the link: https://www.kaggle.com/drgilermo/nba-players-stats-20142015/version/1

## Load `players_stats.csv`

In [4]:
df = pd.read_csv('players_stats.csv')

In [5]:
df.head()

,Name,Games Played,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
0,AJ Price,26,324,133,51,137,37.2,15,57,26.3,...,29.0,us,"October 7, 1986",University of Connecticut,5,185.0,PG,PHO,81.45,23.798393
1,Aaron Brooks,82,1885,954,344,817,42.1,121,313,38.7,...,30.0,us,"January 14, 1985",University of Oregon,6,180.0,PG,CHI,72.45,22.361111
2,Aaron Gordon,47,797,243,93,208,44.7,13,48,27.1,...,20.0,us,"September 16, 1995",University of Arizona,R,202.5,PF,ORL,99.00,24.142661
3,Adreian Payne,32,740,213,91,220,41.4,1,9,11.1,...,24.0,us,"February 19, 1991",Michigan State University,R,205.0,PF,ATL,106.65,25.377751
4,Al Horford,76,2318,1156,519,965,53.8,11,36,30.6,...,29.0,do,"June 3, 1986",University of Florida,7,205.0,C,ATL,110.25,26.234384

## Explore the data in 3 different ways (using 3 different methods)
Hint: you want to use methods that show the size and shape of your dataframe

In [6]:
df.shape

(490, 34)

In [7]:
df.dtypes

Name             object
Games Played      int64
MIN               int64
PTS               int64
FGM               int64
FGA               int64
FG%             float64
3PM               int64
3PA               int64
3P%             float64
FTM               int64
FTA               int64
FT%             float64
OREB              int64
DREB              int64
REB               int64
AST               int64
STL               int64
BLK               int64
TOV               int64
PF                int64
EFF               int64
AST/TOV         float64
STL/TOV         float64
Age             float64
Birth_Place      object
Birthdate        object
Collage          object
Experience       object
Height          float64
Pos              object
Team             object
Weight          float64
BMI             float64
dtype: object

In [8]:
df.size

16660

## Introduction to Statistics 
#### Calculate the mean, mode and median of `MIN` and `PTS` fields

In [13]:
df.MIN.mean()

1214.7142857142858

In [22]:
df.MIN.mode()

0      23
1      43
2    2455
dtype: int64

In [23]:
(median(df.MIN))

1193.0

In [24]:
df.PTS.mean()

502.10816326530613

In [27]:
df.PTS.mode()

0    0
dtype: int64

In [26]:
(median(df.PTS))

423.0

#### From the description of the data find out what information is contained in the `MIN` and `PTS` fields

In [29]:
df.MIN.describe()

count     490.000000
mean     1214.714286
std       820.570132
min         3.000000
25%       492.250000
50%      1193.000000
75%      1905.750000
max      2981.000000
Name: MIN, dtype: float64

In [32]:
df.PTS.describe()

count     490.000000
mean      502.108163
std       422.084232
min         0.000000
25%       145.250000
50%       423.000000
75%       774.000000
max      2217.000000
Name: PTS, dtype: float64

### Compute the average number of minutes all the players spend on the field

In [35]:
df.groupby(['Name']).MIN.mean().reset_index()

                  Name   MIN
0             AJ Price   324
1         Aaron Brooks  1885
2         Aaron Gordon   797
3        Adreian Payne   740
4           Al Horford  2318
5         Al Jefferson  1992
6      Al-Farouq Aminu  1366
7        Alan Anderson  1744
8           Alec Burks   899
9            Alex Kirk    14
10            Alex Len  1518
11        Alexey Shved   767
12       Alexis Ajinca   957
13        Allen Crabbe   683
14          Alonzo Gee   661
15   Amar'e Stoudemire  1244
16        Amir Johnson  1979
17    Anderson Varejao   636
18       Andre Dawkins    22
19      Andre Drummond  2502
20      Andre Iguodala  2069
21        Andre Miller  1253
22      Andre Roberson  1286
23     Andrea Bargnani   785
24    Andrei Kirilenko    36
25        Andrew Bogut  1583
26    Andrew Nicholson   492
27      Andrew Wiggins  2969
28     Anthony Bennett   894
29       Anthony Davis  2455
..                 ...   ...
460      Trevor Booker  1564
461         Trey Burke  2288
462   Tristan Thompson  2194
463       Troy Daniels   397
464          Ty Lawson  2665
465        Tyler Ennis   411
466   Tyler Hansbrough  1058
467      Tyler Johnson   603
468       Tyler Zeller  1731
469       Tyreke Evans  2690
470       Tyrus Thomas     7
471     Tyson Chandler  2286
472      Udonis Haslem   995
473        Vander Blue    74
474      Victor Claver    76
475     Victor Oladipo  2573
476       Vince Carter  1091
477    Wayne Ellington  1675
478     Wesley Johnson  2245
479    Wesley Matthews  2024
480        Will Barton   984
481         Will Bynum    67
482        Will Cherry    69
483       Willie Green   951
484    Wilson Chandler  2471
485       Xavier Henry    86
486        Zach LaVine  1902
487      Zach Randolph  2304
488      Zaza Pachulia  1730
489       Zoran Dragic    75

[490 rows x 2 columns]

In [36]:
group_avg = df.groupby(['Name']).MIN.mean().reset_index()

In [39]:
group_avg.mean()

MIN    1214.714286
dtype: float64

### Now compute the average number of minutes each team spends on the field

In [100]:
df = df.dropna(subset=['Team', 'MIN'])

In [113]:
df.MIN.mean()

1246.649289099526

In [110]:
team_avg = df.groupby(['Team']).MIN.mean().reset_index()

In [111]:
team_avg.mean()

MIN    1249.839526
dtype: float64

###  Why is it different? What is the right way to calculate the Average of averages?
Please use classwork as a reference
### Calculate the average number of minutes all teams spend on the field

In [104]:
count_and_mean = df.groupby(['Team']).agg({'MIN':['mean', 'count', 'median']}).reset_index()

In [105]:
count_and_mean

   Team          MIN
                mean count  median
0   ATL  1358.466667    15  1123.0
1   BOS  1450.875000     8  1646.0
2   CHA  1321.500000    14  1451.5
3   CHI  1420.071429    14  1632.0
4   CLE  1195.583333    12   901.0
5   DAL  1414.666667    15  1406.0
6   DEN  1231.272727    11  1087.0
7   DET  1276.818182    11  1230.0
8   GSW  1432.400000    15  1468.0
9   HOU  1271.636364    11   889.0
10  IND  1376.066667    15  1267.0
11  LAC  1258.285714    14  1089.0
12  LAL  1136.937500    16  1220.0
13  MEM  1392.142857    14  1372.5
14  MIA   970.916667    12   804.0
15  MIL  1282.500000    12  1508.0
16  MIN   964.375000    16   880.0
17  NJN  1165.461538    13   781.0
18  NOH  1345.062500    16  1607.5
19  NYK  1197.312500    16  1233.5
20  OKC  1346.600000    15  1286.0
21  ORL  1317.000000    15   845.0
22  PHI   976.400000    15   540.0
23  PHO  1133.062500    16   864.5
24  POR  1374.312500    16  1191.0
25  SAC  1168.307692    13  1192.0
26  SAS  1254.062500    16  1255.0
27  TOR  1264.214286    14  1674.5
28  UTA  1071.750000    16   981.5
29  WAS  1127.125000    16  1244.0

In [112]:
sum(count_and_mean['MIN']['count']*count_and_mean['MIN']['mean'])/len(df)

1246.649289099526

In [107]:
sum(count_and_mean['MIN']['count'])

422

In [108]:
len(df)

422

In [69]:
df[df.Team.isnull()==True]

,Name,Games Played,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
15,Amar'e Stoudemire,59,1244,680,273,490,55.7,0,4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Anderson Varejao,26,636,255,111,200,55.5,0,2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Andrew Wiggins,82,2969,1387,497,1137,43.7,39,126,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Anthony Tolliver,76,1433,482,161,393,41.0,106,290,36.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Beno Udrih,79,1494,605,246,505,48.7,26,97,26.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Brandan Wright,75,1449,544,233,363,64.2,0,3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Charlie Villanueva,64,678,403,150,362,41.4,83,221,37.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,CJ Wilcox,21,101,41,16,38,42.1,7,19,36.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Cody Zeller,62,1487,472,172,373,46.1,1,1,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,David Wear,2,7,0,0,2,0.0,0,1,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Deron Williams,68,2114,884,298,771,38.7,87,237,36.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,Derrick Williams,74,1462,617,217,485,44.7,49,156,31.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Dion Waiters,80,2208,940,375,946,39.6,73,246,29.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Dorell Wright,48,593,219,72,190,37.9,41,108,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Dwyane Wade,62,1971,1331,509,1084,47.0,29,102,28.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,Ekpe Udoh,33,128,29,11,24,45.8,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,Elijah Millsap,47,924,248,81,238,34.0,28,90,31.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,Elliot Williams,13,119,37,14,37,37.8,8,18,44.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,Festus Ezeli,46,504,201,76,139,54.7,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,Gerald Wallace,32,286,35,14,34,41.2,1,3,33.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,Gigi Datome,21,209,105,43,89,48.3,18,40,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,Glenn Robinson III,35,261,73,26,67,38.8,5,19,26.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,Hassan Whiteside,48,1142,564,243,387,62.8,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,Hedo Turkoglu,62,705,232,83,188,44.1,60,139,43.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,Henry Sims,73,1399,586,238,502,47.4,4,22,18.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,Henry Walker,24,628,175,58,168,34.5,45,132,34.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,Hollis Thompson,71,1776,626,224,543,41.3,115,287,40.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,Ish Smith,55,831,338,143,367,39.0,18,60,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,Jabari Parker,25,738,308,129,263,49.0,4,16,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,JaKarr Sampson,74,1131,386,146,346,42.2,31,127,24.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,Josh Smith,83,2301,1027,414,987,41.9,72,228,31.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,Jusuf Nurkic,62,1103,426,171,383,44.6,0,2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,Lance Thomas,62,1491,443,182,442,41.2,7,22,31.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Larry Sanders,27,586,196,86,172,50.0,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319,Marcus Thornton,48,721,380,140,345,40.6,54,143,37.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,Martell Webster,32,352,106,24,91,26.4,10,43,23.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
341,Miroslav Raduljica,5,23,8,3,8,37.5,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342,Mirza Teletovic,40,892,339,122,319,38.2,62,193,32.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,Nate Robinson,42,591,238,88,255,34.5,31,112,27.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,Nate Wolters,21,247,42,20,57,35.1,0,7,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,Nick Young,42,1000,563,174,476,36.6,83,225,36.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,Nikola Pekovic,31,815,386,139,328,42.4,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,Patrick Patterson,81,2156,648,240,535,44.9,105,283,37.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,PJ Tucker,78,2383,713,261,596,43.8,87,252,34.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,Reggie Williams,20,105,37,15,39,38.5,3,19,15.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,Ricky Ledo,17,244,90,32,96,33.3,10,27,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,Robert Sacre,67,1133,307,126,306,41.2,0,1,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404,Ronny Turiaf,2,19,0,0,0,0.0,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409,Russell Westbrook,67,2302,1886,627,1471,42.6,86,288,29.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415,Sebastian Telfair,16,327,134,46,125,36.8,18,60,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420,Shabazz Napier,51,1012,261,87,228,38.2,43,118,36.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427,Shayne Whittington,20,108,57,19,42,45.2,1,6,16.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443,Thaddeus Young,76,2434,1071,451,968,46.6,38,115,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
444,Thomas Robinson,54,798,308,126,260,48.5,0,2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450,TJ Warren,40,614,245,113,214,52.8,5,21,23.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456,Tony Wroten,30,895,507,175,434,40.3,37,142,26.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458,Travis Wear,51,672,199,84,209,40.2,11,30,36.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
462,Tristan Thompson,82,2194,693,267,488,54.7,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,Tyler Zeller,82,1731,833,340,619,54.9,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470,Tyrus Thomas,2,7,4,1,1,100.0,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN